*{
    margin: 0;
    padding: 0;
}
body{
    width: 1260px;
    height: 500px;
    background-color: green;
}
/* Layout */
main{
    background-color: aquamarine;
    display: flow-root; /* se usa para que se ajuste al contenido */
    /* overflow: hidden; */
}
/* Elementos del layout */
#izquierda{
    width: 61.905%; /*780x100 / 1260*/
    height: 1000px;
    margin: 0 0 0 1.587%; /*20x100 / 1260*/
    padding: 30px 0.794%; /*10x100 / 1260*/
    background-color: red;
    float: left;
}
#derecha{
    width: 29.365%; /*370x100 / 1260*/
    height: 300px;
    margin: 0  1.587%;  /*20x100 / 1260*/
    padding: 50px 0 0 2.381%; /*30x100 / 1260*/
    background-color: blue;
    float: left;
    position: relative; /* esto es para que los de posicionamiento absoluto vean este contenedor
                        y no se posicionen con respecto al body 
                        ocupa espacio en el flujo*/
}

/* Elementos Izquierda */
#izquierda p{
    margin-bottom: 4em;
}
form{
    border: 1px solid black;
    padding: 1em 0 1em 8.974%; /*70x100 / 780*/
}
label{
    display: block;
}
input[type="text"]{
    width: 62.821%; /*490x100 / 780*/
    padding-left: 1.282%; /*10x100 / 780*/
}
input[type="submit"]{
    display: block;
    width: 19.231%; /*150x100 / 780*/
    height: 2em;
    background-color: #d8d8d8;
}
/* Elementos Derecha */
img{
    width: 40.541%; /*10x100 / 370*/
}

/* Footer */
footer{
    clear: both;
    background-color: gray;
    width: 1260px;
    height: 100px;
}


/* Primera versión - Posicionamiento Absoluto y Fixed */
.absoluto{
    position: absolute;
    height: 60px;
    width: 27.027%; /*100x100 / 370*/
    background-color: black;
    color: white;
    top: 0;
    left: 0;
    /* pongo top 0 y left 0 para que se coloque a la izquierda y arriba de su caja contenedora pero al no tener posicionamiento relativo se pone con respecto al body */
}
.fixed{
    height: 60px;
    width: 27.027%; /*100x100 / 370 aunque es con respecto al body su posición*/
    position: fixed;
    background-color: chocolate;
    top: 30px;
    left: 0px;
}
/* Segunda practica */
.relativo{
    width: 27.027%; /*100x100 / 370*/
    background-color: rosybrown;
    position: relative;
    top: 30px;
    left: 20.270%;
    /* Caja relativa que ocupa espacio en el flujo pero que esta desplazada dentro de su contenedor */
}
/* tercera practica */
.sticky{
    background-color: darkgoldenrod;
    position: sticky; /* va a fijar el elemento pero siempre se verá en pantalla 
                        ocupa el espacio del inicio, en el croll no se modifica el flujo*/
    top: 0;
    left: 0; /* Este left con respecto al contenedor de la izquierda */
    width: 27.027%; /*100x100 / 370*/
}

