*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; /* 1rem = 10px */
}
body{
    width: 1260px;
    height: 500px;
    background-color: green;
}
/* Layout */
main{
    background-color: aquamarine;
    display: flow-root; /* se usa para que se ajuste al contenido */
    /* overflow: hidden; */
}
/* Elementos del layout */
#izquierda{
    width: 780px; /*800px - 20px de padding(10l+10r)*/
    height: 1000px;
    margin: 0 0 0 20px;
    padding: 30px 10px;
    background-color: red;
    float: left;
}
#derecha{
    width: 370px; /* 400px - 30px (30l) */
    height: 350px;
    margin: 0 20px 0 20px;
    padding: 50px 30px 0 0;
    background-color: blue;
    float: left;
}

/* Elementos Izquierda */
#izquierda p{
    margin-bottom: 4em;
}
form{
    border: 1px solid black;
    padding: 1em 0 1em 70px;
}
label{
    display: block;
}
input[type="text"]{
    width: 490px;
    padding-left: 10px;
}
input[type="submit"]{
    display: block;
    width: 150px;
    height: 2em;
    background-color: #d8d8d8;
}
/* Elementos Derecha */
img{
    width: 150px;
}

/* Footer */
footer{
    clear: both;
    background-color: gray;
    width: 1260px;
    height: 100px;
}


/* Primera versión - Posicionamiento Absoluto y Fixed */
.absoluto{
    position: absolute;
    height: 60px;
    width:100px;
    background-color: black;
    color: white;
    top: 0;
    left: 0;
    /* pongo top 0 y left 0 para que se coloque a la izquierda y arriba de su caja contenedora pero al no tener posicionamiento relativo se pone con respecto al body */
}
.fixed{
    height: 60px;
    width:100px;
    position: fixed;
    background-color: chocolate;
    top: 30px;
    left: 0;
}